@page
@model RequestPaymentModel
@{
    ViewData["Title"] = "Nexi Auto POST";
    if (Model.NoLayout)
    {
        Layout = "";
    }
}

<div class="row">
    <div style="height: 400px;">
        <form id="nexiform" action="@ViewData["action"]" method="post"></form>
        <input type="submit" name="hiddensubmit" style="display:none"/>
    </div>
</div>

<script>
    document.getElementById("nexiform").submit();
</script>